* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 140px;
  padding: 50px 25px 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: #ffff;
}

a,
.logo {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e50043;
  text-decoration: none;
  font-style: normal;
}

.menu li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 25px;
}

.menu > li:last-of-type {
  margin-right: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  padding: 50px 50px;
}

.hero {
  height: 950px;
  background-image: url(images/evian_origins_logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 140px;
  z-index: -1;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e50043;
}

.main-block {
  margin: 400px 200px 150px 200px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.box {
  border: 3px solid #f8bfc7;
  border-radius: 20px;
  margin-top: 150px;
  margin-bottom: 174px;

  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.box:last-of-type {
  margin-bottom: 0;
}

.box:first-of-type {
  margin-top: 0;
}

.product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.images {
  display: flex;
  justify-content: space-between;
}

.mini-image {
  margin: 30px 50px 30px 80px;
}

.about-images {
  text-align: center;
}

p {
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 0.05em;
}

.product > p {
  letter-spacing: 0em;
}

.footer {
  display: flex;
  align-items: center;
  background-color: #f8bfc7;
  height: 140px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 0px 50px 50px;
  color: white;
}
